name: Deploy Spring Boot to EC2 (SSH)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build (Maven)
        run: mvn -B -DskipTests package

      - name: Copy jar to EC2 (/opt/myapp/target/)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "target/*.jar"
          target: "/opt/myapp/"

      - name: Activate jar as edusched.jar + restart service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            
            set -euo pipefail 
            cd /opt/myapp
          
            ls -lah /opt/myapp/target || true
            
            JAR="$(ls -t /opt/myapp/target/*jar | head -n 1)"
            echo "Using $JAR"
            mv "$JAR" /opt/myapp/edusched.jar
            sudo systemctl daemon-reload
            sudo systemctl restart myapp
